@import 'less/icons.css';
@font-face {
  font-family: 'kaprik';
  src: url('fonts/MTCORSVA.eot');
  src: local('MTCORSVA'), url('fonts/MTCORSVA.woff') format('woff'), url('fonts/MTCORSVA.ttf') format('truetype');
}
body {
  background-color: #fff;
  text-align: center;
  font-size: 13px;
}
* {
  margin-left: auto;
  margin-right: auto;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Trebuchet MS";
}
.font-kaprik {
  font-family: 'kaprik' !important;
}
h1 {
  color: #213223;
  font-size: 50px;
}
header {
  max-width: 1240px;
  text-align: left;
}
.header-top {
  display: inline-block;
  width: 100%;
  height: 120px;
}
.header-top .logo {
  max-height: 100%;
}
.header-top .header-info {
  float: right;
  line-height: 120px;
}
.header-top .header-info .phone,
.header-top .header-info .mail {
  float: left;
  font-size: 2em;
  color: #000;
}
.header-top .header-info .phone {
  margin-right: 1.5em;
}
.header-top .header-info .icon {
  color: #2A8235;
}
.zone-wrapper {
  max-width: 1240px;
  border-radius: 1% 1% 0 0;
  background-color: #D4ECD7;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  display: inline-block;
  padding: 30px;
  min-height: 800px;
}
.green-background {
  background-color: #213223;
  position: absolute;
  z-index: -1;
  height: 460px;
  width: 100%;
  top: 125px;
}
header {
  height: 215px;
}
footer {
  min-height: 280px;
  width: 100%;
  background-color: #213223;
}
nav {
  margin-top: 15px;
}
nav ul {
  margin: 10px 1em 0 3em;
  padding: 0;
  list-style: none;
  display: inline-block;
}
nav ul li {
  float: left;
  color: #fff;
  font-size: 1.3em;
  padding: 0.3em 1em;
  line-height: 1.5em;
}
nav ul li a,
nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}
nav ul li.active {
  border-bottom: 4px solid #2A8235;
}
nav ul li.button {
  background-color: #2A8235;
}
nav ul.right {
  float: right;
  margin: 10px 3em 0 1em;
}
@media screen and (max-width: 1024px) {
  .zone-wrapper {
    padding: 0 15px;
  }
}
.region-third {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.region-third .block {
  width: calc(33.33% - 13.33px);
  min-height: 50px;
  margin-right: 20px;
  float: left;
}
.region-third .block:last-child {
  margin-right: 0;
}
.region-price .block-price {
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}
.region-price .block-price .image-wrapper {
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 200px;
}
.region-price .block-price img {
  height: 100%;
  width: auto;
  max-width: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 500ms;
}
.region-price .block-price img:hover {
  -webkit-transform: scale(1.1) translate(-50%, 0);
  -moz-transform: scale(1.1) translate(-50%, 0);
  -ms-transform: scale(1.1) translate(-50%, 0);
  -o-transform: scale(1.1) translate(-50%, 0);
  transform: scale(1.1) translate(-50%, 0);
}
.region-price .block-price table {
  width: 100%;
  border: 4px solid #213223;
  border-collapse: collapse;
  border-radius: 3px;
}
.region-price .block-price thead {
  background-color: #213223;
}
.region-price .block-price thead th {
  color: #fff;
  padding: 0.7em 15px;
  font-size: 1.3em;
}
.region-price .block-price thead th:last-child {
  padding: 0;
  text-align: right;
  padding-right: 15px;
}
.region-price .block-price tbody .empty td {
  padding: 0;
}
.region-price .block-price tbody td {
  font-size: 16px;
  padding: 0.4em 15px;
}
.region-price .block-price tbody td:last-child {
  text-align: right;
  padding-left: 10px;
  border-left: 4px solid #213223;
}
.region-price .block-text {
  margin-right: 0;
  font-size: 16px;
  padding: 10px 20px 20px;
}
.region-price .block-text p {
  margin-top: 1.5em;
}
